<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard - Library Management System{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Dashboard</h1>
    
    <div class="row">
        <!-- Stats Cards -->
        <div class="col-md-4 mb-4">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h5 class="card-title">Total Members</h5>
                    <h2 class="card-text">{{ total_members }}</h2>
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card text-white bg-success">
                <div class="card-body">
                    <h5 class="card-title">Total Books</h5>
                    <h2 class="card-text">{{ total_books }}</h2>
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <h5 class="card-title">Total Books lent</h5>
                    <h2 class="card-text">{{ total_records }}</h2>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <!-- Recent Students -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-light">
                    <h5 class="mb-0">Recently Added Members</h5>
                </div>
                <div class="card-body">
                    {% if recent_members %}
                        <ul class="list-group">
                            {% for member in recent_members %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{member.name}}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted">No Members added yet.</p>
                    {% endif %}
                </div>

{% endblock %}